[project]
name = "comp-evol-tp1"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pandas>=2.3.3",
    "flask>=3.0.0",
    "flask-cors>=4.0.0",
]
